.Rproj.user
.Rhistory
.RData
.Ruserdata
.data/OTUtab_nozooembr_minsize5_prop_wtax_wnewseqid_20191022_point_frep3.txt
.data/OTUtab_nozooembr_minsize5_prop_wtax_wnewseqid_20191022_point_frep2.txt
.data/OTUtab_nozooembr_minsize5_prop_wtax_wnewseqid_20191022_point_frep.txt
.data/otutab_3.200all_mtax.txt